:root {
    --cor1: #5f2c82;
    --cor2: #49a09d;
    --cor3: #69e2de;
    --cor4: #214948;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: arial;
}

body,
html {
    height: 100vh;
    width: 100vw;
}

body {
    background-color: var(--cor1);
}

main {
    width: 100%;
    height: 100%;
}

#container {
    background-color: rgb(216, 247, 244);
    height: 80%;
    width: 60%;
    border-radius: 20px;
    box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.486);
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#imagem {
    background: url(../imagens/pexels-scott-webb-139198.jpg);
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 30%;
    border-radius: 20px 20px 0px 0px;
}

#formulario {
    width: 100%;
    height: 70%;
    border-radius: 0px 0px 20px 20px;
}

h1{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

p{
    padding: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

img{
    width: 35px;
    padding: 2px;
}

input{
    border: none;
}

.dvtxt{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--cor1);
    height: 45px;
    width: 100%;
    border-radius: 10px;
}

#iemail,#isen{
    width: 82%;
    height: 50%;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--cor3);
}

#iemail:focus{
    background-color: white;
}

#isen:focus{
    background-color: white;
}

.dvsbmt{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    color: rgb(241, 241, 241);
    background-color: var(--cor4);
    border: 1px solid var(--cor4);
    cursor: pointer;
}

.dvbtn{
    width: 100%;
    height: 45px;
    border: 1px solid var(--cor2);
    border-radius: 10px;
    color: var(--cor4);
    cursor: pointer;
}

.dvsbmt:hover{
    background-color: #54b4b1;
}

.dvbtn:hover{
    background-color: var(--cor3);
}